/* Home*/
body{
    background-color: #474e5d;
    font-family: Arial, Helvetica, sans-serif;
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.main{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.75)), url("img/3.jpg");
    background-size: cover;
    background-position: center;
}
.navbar{
    font-size: 20px;
    width: 96%;
    margin: auto;
    padding: 20px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    background-color: black;
}

.logo{
    font-size: 20px;
    color: white;
    font-weight: bold;
    width: 120px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a {
    color: white;
    text-transform: uppercase;
}
.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: green;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after {
    width: 100%;
}
.content {
    top: 50%;
    width: 100%;
    text-align: center;
    color: white;
    position: absolute;
    transform: translateY(-50%);
}
.content h1{ 
    font-size: 50px;
    margin-top: 80px;
}
.content p{
    font-size: 20px;
    padding: 20px ;
    margin: 0px 50px 50px  ;
    font-weight: 100;
    line-height: 25px;
}

.icon{
    position: absolute;
    top: 80%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;    
}

.tombol{
    display: inline-block;
    width: 90px;
    height: 90px;
    background: #f1f1f1;
    margin: 10 px;
    border-radius: 30%;
    box-sizing: 0 5px 15px -5px #00000070;
    overflow: hidden;
    position: relative;
    color: #2980b9;
}

.tombol i{
    transition: 0.2s linear;
    font-size: 26px;
    line-height: 90px;
}

.tombol:hover i{
    transform: scale(1.3);
    color: #f1f1f1;
}

.tombol::before{
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    left: -110%;
    top: 90%;
    transform: rotate(45deg);
    background: #3498db;
}

.tombol:hover::before{
    left: -10%;
    top: -10%;
    animation: aaa 0.7s 1;
}
@keyframes aaa{
    0%{
    left:-110%;
    top: 90%;
    }
    50%{
    left: -10%;
    top: -30%;
    }
    100%{
    left: -10%;
    top: -10%;
    }
}
